.grid-container {
    display: inline-grid;
    /*grid-template-columns: repeat(11, 1fr);*/
    background-color: #2196F3;
    padding: 10px;
}
.grid-item {
    background-color: rgba(250, 250, 250, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 2px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}